[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

skip-external-locking
skip-name-resolve

SET GLOBAL host_cache_size=0

interactive_timeout=86400
wait_timeout=86400